body{
    overflow-y: scroll;
    overflow-x: hidden;
}
.carousel-inner {
    width: 100%;
    height: 90vh;

}

.carousel-item {
    width: 100%;
    height: 90vh;
}

.carousel-item img {
    opacity: 0.5;
}

.carousel-item h5 {
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    font-size: xx-large;
    font-weight: 600;
}

.carousel-item p {
    color: #000;
}

#about {
    padding: 5%;
    height: 100vh;
}

#about h5 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: xx-large;
}

#about p {
    padding-top: 10%;
    margin: auto;
    text-align: center;
}

#gallery h5 {
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    font-size: xx-large;
}

#gallery img {
    width: 100%;
    height: 300px;
    opacity: 0.5;
}

#gallery{
    height: 100vh;
}

#footer .section-a{
    background-color: #000;
    padding: 4%;
}

.section-a i{
    background-color: rgb(0, 110, 255);
    color: #fff;
    padding: 1%;
    margin: 1%;
    border-radius: 100px;
}

.section-b p{
    text-transform: uppercase;
    text-align: center;
}